{% extends 'base.html' %}
{% block intro %}
    {% block title %}
        Student
    {% endblock title %}
<div align="center" style="color: white;">
<h1>Welcome to College of Engineering, Adoor</h1>
Student Management and Administration System (SATA)
<br>GROUP NO 9
<br>MANU SURESH			ADR19CS033
<br>SUJITH KUMAR A		ADR19CS054
<br>RIJO REJI			ADR19CS044
<br>RINA MARIYAM THOMAS	ADR19CS045
<br><br>
</div>
<a href="/login">
    <button type="button" class="btn btn-success">Login</button>
</a>
{% endblock intro %}
