{% extends 'base.html' %}
{% block intro %}
    {% block title %}
        Student
    {% endblock title %}
<div align="center" style="color: white;">
<h1>Welcome to College of Engineering, Adoor</h1>
,<h2 id = "su"><b>Student Management and Administration System (SATA)</b></h2>
<h3 id = "su"><br><b>DEVELOPED BY</b></h3>
<div id = "su"></div><b><br>MANU SURESH			ADR19CS033
<br>SUJITH KUMAR A		ADR19CS054
<br>RIJO REJI			ADR19CS044
<br>RINA MARIYAM THOMAS	ADR19CS045</b></div>
<br><br>
</div>
<a href="/login">
    <button type="button" class="btn btn-success">Login</button>
</a>
{% endblock intro %}
