{% extends 'base.html' %}
{% block intro %}
    <div class="intro-container" data-aos="zoom-in" data-aos-delay="100">
      <h1 class="mb-4 pb-0">SATA </span> </h1>
      <p class="mb-4 pb-0">Student Activity Tracking & Administration</p>
      <a href="" class="about-btn scrollto">View More</a>
    </div>
{% endblock intro %}
{% block title %}
Student
{% endblock title %}
{% block home %}
menu-active
{% endblock home %}

{% block body %}
  
  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
     
    </div>

    <div class="container">
   
      <div class="credits">
      <br>
        Developed by <a href="/">College of Engineering Adoor</a>
      </div>
    </div>
  </footer><!-- End  Footer -->
{% endblock body %}
