{% extends 'base.html' %}
{% block title %}
Student
{% endblock title %}
{% block home %}
menu-active
{% endblock home %}

{% block body %}
    <!-- ======= Intro Section ======= -->
 <section id="intro">
  <div class="intro-container" data-aos="zoom-in" data-aos-delay="100">
    <h1 class="mb-4 pb-0">STUDENT MANAGEMENT SYSTEM </span> </h1>
    <p class="mb-4 pb-0">DBMS Mini Project Using Flask & MYSQL</p>
  
    <a href="" class="about-btn scrollto">View More</a>
  </div>
</section><!-- End Intro Section -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
     
    </div>

    <div class="container">
   
      <div class="credits">
      <br>
        Developed by <a href="/">College of Engineering Adoor</a>
      </div>
    </div>
  </footer><!-- End  Footer -->
{% endblock body %}
