{% extends 'base-minimal.html' %}
{% block title %}
    Mark Details
{% endblock title %}
{% block body %}
<br><br><br>
    {% with messages=get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    {% endwith %}
    <br>
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th scope="col">SID</th>
                    <th scope="col">KTUID</th>
                    <th scope="col">SUBJECT</th>
                    <th scope="col">GRADE</th>
                    <th scope="col">DEPARTMENT</th>
                    <th scope="col">EDIT</th>
                    <th scope="col">DELETE</th>
                </tr>
            </thead>
            <tbody>
                {% for post in query %}
                    <tr>
                        <th scope="row">{{ post.SID }}</th>
                        <td>{{ post.KTUID }}</td>
                        <td>{{ post.C1 }}</td>
                        <td>{{ post.C2 }}</td>
                        <td>{{ post.C3 }}</td>
                        <!-- <td>{{post.C4}}</td>
                              <td>{{post.C5}}</td>
                              <td>{{post.C6}}</td>
                              <td>{{post.C7}}</td>
                              <td>{{post.C8}}</td> -->
                        <td>
                            <a href="/editmarks/{{ post.KTUID }}">
                                <button class="btn btn-primary">Edit
                                </button>
                            </a>
                        </td>
                        <td>
                            <a href="/deletemarks/{{ post.SID }}">
                                <button onclick="return confirm('Are you sure to Delete data');" class="btn btn-danger">Delete
                                </button>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endblock body %}
