{% extends 'base.html' %}
{% block title %}
    Query
{% endblock title %}
{% block intro %}
    <h3 class="text-center" style="color:white">
        <span>Query</span>
    </h3>
    {% with messages=get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    {% endwith %}
    <form method="post">
    <div align="center">
        <p>
            <input type="text" name="sid" placeholder="SID"></input>
            <input type="text" name="ktuid" placeholder="KTUID"></input>
            <input type="text" name="subject" placeholder="SUBJECT"></input>
            <input type="text" name="grade" placeholder="GRADE"></input>
            <input type="text" name="dept" placeholder="DEPARTMENT"></input>
            <button type="submit">Submit</button>
        </p>
    </div>
    </form>
    <table class="table" style="color:white;">
        <thead class="thead-light">
            <tr>
                <th scope="col">SID</th>
                <th scope="col">KTUID</th>
                <th scope="col">SUBJECT</th>
                <th scope="col">GRADE</th>
                <th scope="col">DEPARTMENT</th>
            </tr>
        </thead>
        <tbody>
            {% if query %}
            {% for q in query %}
                <tr>
                    <th>{{ q.SID }}
                    <th>{{ q.KTUID }}
                    <th>{{ q.C1 }}
                    <th>{{ q.C2 }}
                    <th>{{ q.C3 }}
                </tr>
            {% endfor %}
        {% else %}
            No such results
        {% endif %}
        </tbody>
    </table>
{% endblock intro %}
