{% extends 'base.html' %}
{% block title %}
    Query
{% endblock title %}
{% block body %}
    <h3 class="text-center">
        <span>Query</span>
    </h3>
    {% with messages=get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    {% endwith %}
    <form method="post">
        <p>
            <label for="ktuid">ktuid</label>
            <input type="text" name="ktuid" placeholder="ktuid"></input>
        </p>
        <p>
            <label for="subject">subject</label>
            <input type="text" name="subject" placeholder="subject"></input>
        </p>
        <p>
            <label for="grade">grade</label>
            <input type="text" name="grade" placeholder="grade"></input>
        </p>
        <p>
            <label for="dept">dept</label>
            <input type="text" name="dept" placeholder="dept"></input>
        </p>
        <p>
            <button type="submit">Submit</button>
        </p>
    </form>
    {% if query %}
        {% for q in query %}
            <li>
                {{ q.SID }}
                {{ q.KTUID }}
                {{ q.C1 }}
                {{ q.C2 }}
                {{ q.C3 }}
            </li>
        {% endfor %}
    {% else %}
        No such results
    {% endif %}
{% endblock body %}
