{% extends 'base-minimal.html' %}
{% block title %}
Search
{% endblock title %}
{% block body %}
<br><br><br>
{% with messages=get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
   {{ message }}
</div>
{% endfor %}
{% endif %}
{% endwith %}
<br>
<div class="container">
<div class="row">
   <div class="col-md-4">
      <form action="/search" method="post">
         <div class="form-group">
            <label for="attendance">Enter Your Roll No</label>
            <input type="text" class="form-control" name="roll" id="roll" placeholder="Use Small Letter">
            <label for="attendance">Enter Your ktu ID</label>
            <input type="text" class="form-control" name="ktuid" id="ktuid" placeholder="Use Capital Letter">
         </div>
         <br>
         <button type="submit" class="btn btn-danger btn-sm btn-block">Search</button>
      </form>
      <br>
      <br>
   </div>
   <div class="col-md-8">
      <br>
      {% if bio %}
      <h3>Your Details</h3>
      <hr>
      <li>Roll No :
         {{ bio.rollno }}
      </li>
      <li>Name    :
         {{ bio.sname }}
      </li>
      <li>Sem   :
         {{ bio.sem }}
      </li>
      <li>Gender   :
         {{ bio.gender }}
      </li>
      <li>Branch  :
         {{ bio.branch }}
      </li>
      <li>Email  :
         {{ bio.email }}
      </li>
      <li>Number  :
         {{ bio.number }}
      </li>
      <li>Address  :
         {{ bio.address }}
      </li>
      {% endif %}
      <br>
      <h3>RESULT</h3>
      <hr>
      {% for q in query %}
      <li>{{ q.KTUID }}
         {{ q.C1 }}
         {{ q.C2 }}
         {{ q.C3 }}
      </li>
      {% endfor %}
      <br>
      <br>
   </div>
</div>
{% endblock body %}